@model GenderPayGap.WebUI.Models.Submit.ReturnViewModel
@{
    ViewBag.Title = "Gender pay gap";
}

@using Extensions
@using GenderPayGap.WebUI.Classes

<main id="content" role="main">
    <div class="breadcrumbs dynamic-content default-content" style="display: block;">
        <ol>
            <li style="display: block; padding-top: 0.75em; padding-bottom: 0;">&lt; @Html.ActionLink(Model.ReturnUrl.EqualsI("Complete",null) ? "View more employers" : "Search results", "SearchResults")</li>
        </ol>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="grid-row">
            <div class="column-two-thirds gpg-details">
                <h1 class="heading-large" style="margin-top: 0.3em;">
                    <span class="heading-secondary">@Model.AccountingDate.Year to @(Model.AccountingDate.Year+1) gender pay gap data</span>
                    <span id="companyname">@Model.OrganisationName</span>
                </h1>
                <p><span class="font-small">Address:</span> <span id="address">@Model.Address</span></p>
                <p><span class="font-small">Sector:</span> <span id="sector">@Model.Sector</span></p>
                <div class="container">
                    <ul class="tabs">
                        <li class="tab-link" data-tab="tab-1">@Html.ActionLink("Hourly rate", "EmployerDetails", new { view = "hourly-rate", id = Model.GetEncryptedId() })</li>
                        <li class="tab-link current" data-tab="tab-2">Pay quartiles</li>
                        <li class="tab-link" data-tab="tab-3">@Html.ActionLink("Bonus pay", "EmployerDetails", new { view = "bonus-pay", id = Model.GetEncryptedId() })</li>
                    </ul>
                    <div id="tab-2" class="tab-content current">
                        <h2 class="heading-medium ">Pay quartiles</h2>
                        <p>How many men and women are in each quarter of the employer's payroll.</p>
                        <p class="header">Top quartile </p>
                        <div class="grid-row ">
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}", Model.MaleUpperQuartilePayBand)% </h4>
                                    <p class="font-small">MEN</p>
                                </div>
                            </div>
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}", Model.FemaleUpperQuartilePayBand)%</h4>
                                    <p class="font-small">WOMEN </p>
                                </div>
                            </div>
                        </div>
                        <p class="header">Upper middle quartile </p>
                        <div class="grid-row">
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}",Model.MaleUpperPayBand)%</h4>
                                    <p class="font-small">MEN</p>
                                </div>
                            </div>
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}",Model.FemaleUpperPayBand)%</h4>
                                    <p class="font-small">WOMEN </p>
                                </div>
                            </div>
                        </div>
                        <p class="header">Lower middle quartile</p>
                        <div class="grid-row">
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}", Model.MaleMiddlePayBand)% </h4>
                                    <p class="font-small">MEN</p>
                                </div>
                            </div>
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}", Model.FemaleMiddlePayBand)%</h4>
                                    <p class="font-small">WOMEN </p>
                                </div>
                            </div>
                        </div>
                        <p class="header">Lower quartile</p>
                        <div class="grid-row">
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}", Model.MaleLowerPayBand)% </h4>
                                    <p class="font-small">MEN</p>
                                </div>
                            </div>
                            <div class="column-one-half">
                                <div class="data">
                                    <h4 class="bold-xlarge">@String.Format("{0:0}", Model.FemaleLowerPayBand)%</h4>
                                    <p class="font-small">WOMEN </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
            </div>
            <div class="column-third">
                <aside class="govuk-related-items" role="complementary">
                    <nav role="navigation" aria-labelledby="subsection-title">
                        <div class="section flush">
                            <h3 class="heading-small">Employer's gender pay gap report </h3>
                            <p class="font-xsmall">
                                View the employer's @Model.AccountingDate.Year to @(Model.AccountingDate.Year + 1) gender pay gap report on their website.
                                <a rel="external" href="@Model.CompanyLinkToGPGInfo" target="_blank">@Model.CompanyLinkToGPGInfo</a>
                            </p>
                        </div>
                        <div class="section flush sign" style="display: block;">
                            <h3 class="heading-small">Person responsible for employer's report </h3>
                            <p class="font-xsmall">@Model.FirstName @Model.LastName<br>@Model.JobTitle
                            </p>
                        </div>
                    </nav>
                </aside>
            </div>
        </div>
    }
</main>
