@model GenderPayGap.Models.GpgDatabase.Return


<main id="content" role="main" class="">


    <div class="breadcrumbs">
        <ol>
            <li><a href="search">Gender pay gap</a></li>
            <li><a href="search-results">Search results</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds gpg-details">
            <h1 class="heading-large">
                <span class="heading-secondary">2016 to 2017 gender pay gap data</span>
                Smiths limited
            </h1>
            <div class="tabs">
                <div class="tabs-nav">
                    <ul class="tabs-list">
                        <li><a href="employer-details" class="selected">Hourly rate</a></li>
                        <li><a href="employer-details-quartile">Pay scales</a></li>
                        <li><a href="employer-details-bonus">Bonus pay</a></li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div class="tabs-panel" id="tab-1">
                        <div class="tabs-panel-inner text">
                            <div class="block ">
                                <h2 class="heading-medium no-sub">Women's hourly pay is</h2>
                                <div class="data">
                                    <h4 class="bold-xlarge ">16% </h4>
                                    <p class="bold-large sub ">LOWER </p>
                                </div>
                                <p class="amount"><span>What this means:</span>  If average hourly pay for men in this organisation is £15, the average for women would be £12.90.</p>
                            </div>
                            <div class="">
                                <h2 class="heading-medium ">From highest to lowest paid</h2>
                                <p class="spacer">
                                    Compared to the male employee in the middle of this organisation's pay range, the equivalent female employee earns
                                </p>
                                <div class="data">
                                    <h4 class="bold-xlarge ">14%</h4>
                                    <p class="bold-large sub ">LESS </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-third">
            <aside class="govuk-related-items" role="complementary">
                <nav role="navigation" aria-labelledby="subsection-title">
                    <h3 class="heading-medium">About this employer </h3>
                    <div class="section flush">
                        <h3 class="heading-small">Registered office address </h3>
                        <p class="font-xsmall">65 Market Place, London, N2 8DD  </p>
                    </div>
                    <div class="section flush">
                        <h3 class="heading-small">Sector </h3>
                        <p class="font-xsmall">Contruction</p>
                    </div>
                    <div class="section flush">
                        <h3 class="heading-small">Employer's gender pay gap report </h3>
                        <p class="font-xsmall">
                            View the employer's 2016 to 2017 gender pay gap report on their website.
                            <a rel="external" href="#">http://www.smithsltd.co.uk/genderpaygap-16-17</a>
                        </p>
                    </div>
                </nav>
            </aside>
        </div>
    </div>
</main>

@*<div>
        <h4>Return</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Organisation.OrganisationRef)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Organisation.OrganisationRef)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiffMeanHourlyPayPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiffMeanHourlyPayPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiffMedianHourlyPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiffMedianHourlyPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiffMeanBonusPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiffMeanBonusPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiffMedianBonusPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiffMedianBonusPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaleMedianBonusPayPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaleMedianBonusPayPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FemaleMedianBonusPayPercent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FemaleMedianBonusPayPercent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaleLowerPayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaleLowerPayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FemaleLowerPayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FemaleLowerPayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaleMiddlePayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaleMiddlePayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FemaleMiddlePayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FemaleMiddlePayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaleUpperPayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaleUpperPayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FemaleUpperPayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FemaleUpperPayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaleUpperQuartilePayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaleUpperQuartilePayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FemaleUpperQuartilePayBand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FemaleUpperQuartilePayBand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CompanyLinkToGPGInfo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompanyLinkToGPGInfo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentStatusDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentStatusDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentStatusDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentStatusDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    </div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReturnId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
