@model GenderPayGap.Models.GpgEntityModel.Return

<br />
@{
    ViewBag.Title = "Gpg Return";
}
<div>
    <form method="post" action="@Url.Action("RecruiterNewView", "Recruiter")">

        <div class="wizard">
            <div class="step active">
                @*@Html.Partial("Index", Model)*@
                @Html.Partial("~/Views/Home/Index.cshtml", Model)
            </div>

            <!--Steves login page goes in here -->
            @*<div class="step" style="display:none">
                @Html.Partial("/Views/Account/Login.cshtml", Model)
            </div>*@

            <div class="step" style="display:none">
                @Html.Partial("~/Views/Return/Create.cshtml", Model)
            </div>

            <div class="step" style="display:none">
                @Html.Partial("~/Views/Return/PersonRespCreate.cshtml", Model)
            </div>

            <div class="step" style="display:none">
                @Html.Partial("~/Views/Return/Details.cshtml", Model)
            </div>

            <input type="button" class="prev" style="display: none" value="Previous" />
            <input type="button" class="next" style="" value="Next" />
        </div>
    </form>
</div>

@*<button id="test" class="mytest"> click me</button>*@

@section scripts {
    <script>


        $(document).ready(function () {

           //debugger;

            var inputs = $("input,textarea"); //select, drop

            $(inputs).each(function (index, input) {

                var input$ = $(input);

                var helper$ = $('#' + input$.attr('id') + '_helpText')

                if (helper$ && helper$.length > 0) {

                    var panelbody$ = input$.closest('.panel-body')

                    if (panelbody$) {

                        var target$ = $('#helpertarget', panelbody$);

                        if (target$) {

                            input$.on('focus', function () { ShowText(helper$, target$) })
                            input$.mouseover( function () { ShowText(helper$, target$) })
                        }
                    }
                }
               // else  {

                   // var helper$ = $('#' + input$.attr('id'))
                   // var default$ = $('#helpertarget');
                   // input$.mouseleave(function () { ShowText("ghfhfgjhfg", default$) })
               // }
            })

        });






    $(function() {
        $('.wizard .prev').click(function() {
            var wizard = $(this).parent('.wizard');

            $('.step.active', wizard).hide();

            var currentStep = $('.step.active', wizard);
            currentStep.hide();
            currentStep.removeClass('active');

            var newStep = currentStep.prev('.step', wizard);
            newStep.addClass('active');
            newStep.show();

            if ($('.step:first', wizard)[0] == newStep[0]) {
                $(this).hide();
            }

            $('.next', wizard).show();
        });

        $('.wizard .next').click(function() {
            var wizard = $(this).parent('.wizard');

            $('.step.active', wizard).hide();

            var currentStep = $('.step.active', wizard);
            currentStep.hide();
            currentStep.removeClass('active');

            var newStep = currentStep.next('.step', wizard);
            newStep.addClass('active');
            newStep.show();

            if ($('.step:last', wizard)[0] == newStep[0]) {
                $(this).hide();
            }

            $('.prev', wizard).show();
        });
    });



    </script>

}






