@model IEnumerable<GenderPayGap.Models.GPGEntityModel.Return>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiffMeanHourlyPayPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiffMedianHourlyPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiffMeanBonusPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiffMedianBonusPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleMedianBonusPayPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleMedianBonusPayPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleLowerPayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleLowerPayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleMiddlePayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleMiddlePayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleUpperPayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleUpperPayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaleUpperQuartilePayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemaleUpperQuartilePayBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLinkToGPGInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStatusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStatusDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiffMeanHourlyPayPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiffMedianHourlyPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiffMeanBonusPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiffMedianBonusPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleMedianBonusPayPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleMedianBonusPayPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleLowerPayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleLowerPayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleMiddlePayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleMiddlePayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleUpperPayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleUpperPayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaleUpperQuartilePayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemaleUpperQuartilePayBand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyLinkToGPGInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatusDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReturnId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReturnId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReturnId })
        </td>
    </tr>
}

</table>
