@model long


<main id="content" role="main">

@using (Html.BeginForm())
{


    if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary("ERRORS:", new { @class = "text-danger" })
    }

    <div class="grid-row">

        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've sent your gender pay gap data for 2016 to 2017</h1>
            </div>
            <!--       <p>We have sent you a confirmation email.</p>
             -->
            <p>You can view or amend this submission any time before the 5 April 2018 deadline.</p>
            @*<p><a href='@Url.Action("SendConfirmed", new { id= Model})'>See your gender pay gap data</a></p>*@
            <p>@Html.ActionLink("See your gender pay gap data", "Details", new { id = Model })</p>
            <p>@Html.ActionLink("Correct an error on your submission", "Step1", new { id = Model })</p>
        </div>

    </div>
}
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}