@{
    ViewBag.Title = "Add your organisation's address - Gender pay gap reporting service";
}

@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel
@using GenderPayGap.WebUI.Classes

<main id="content" role="main">
    @using (Html.BeginForm("AddContact", "Register"))
        {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SelectedEmployerIndex)
        @Html.HiddenFor(model => model.ManualRegistration)
        @Html.HiddenFor(model=>model.BackAction)
        @Html.HiddenFor(model => model.SearchText)
        @Html.HiddenFor(model => model.SectorType)
        @Html.HiddenFor(model => model.Name)

        @Html.HiddenFor(model => model.Address1)
        @Html.HiddenFor(model => model.Address2)
        @Html.HiddenFor(model => model.Address3)
        @Html.HiddenFor(model => model.Country)
        @Html.HiddenFor(model => model.PostCode)
        @Html.HiddenFor(model => model.PoBox)

        <div class="grid-row">
            <div class="column-two-thirds">
                @Html.ValidationSummary("The following errors were detected", new { @class = "error-summary" })

                <h1 class="heading-large">
                    Address of the organisation you're reporting for
                </h1>

                <div class="dynamic-content default-content">
                    <p>Enter the correspondence address for the organisation whose gender pay gap data you’re reporting.</p>
                    <h2 class="heading-medium">Employer's name</h2>

                    @if (!Model.ManualRegistration || Model.SelectedEmployerIndex > -1)
                        {
                        <p>@Html.LabelFor(model => model.ContactFirstName, "First name",new {@class = "form-label col-md-2"})</p>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.ContactFirstName, "", new { @class = "error-danger" })
                            @Html.CustomEditorFor(model => model.ContactFirstName, new { @class = "form-control" })
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.ContactLastName, "Last name", new { @class = "form-label col-md-2" })
                            </div>
                        </div>
                    }
                    <h2 class="heading-medium">Organisation address</h2>

                    <div class="form-group form-group-compound">
                        @Html.ValidationMessageFor(model => model.ContactLastName, "", new { @class = "error-danger" })
                        @Html.CustomEditorFor(model => model.ContactLastName, new { @class = "form-control" })
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.ContactJobTitle, "Job title", new { @class = "form-label col-md-2" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.ContactJobTitle, "", new { @class = "error-danger" })
                        @Html.CustomEditorFor(model => model.ContactJobTitle, new { @class = "form-control" })
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.ContactOrganisation, "Your organisation", new { @class = "form-label col-md-2" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.ContactOrganisation, "", new { @class = "error-danger" })
                        @Html.CustomEditorFor(model => model.ContactOrganisation, new { @class = "form-control" })
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.ContactEmailAddress, "Email address", new { @class = "form-label col-md-2" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.ContactEmailAddress, "", new { @class = "error-danger" })
                        @Html.CustomEditorFor(model => model.ContactEmailAddress, new { @class = "form-control" })
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.ContactPhoneNumber, "", new { @class = "form-label col-md-2" })
                        </div>
                    </div>

                    <br><br>

                    <input class="button" type="submit" role="button" name="command" value="Continue" />

                </div>
                <p>
                    @Html.ValidationMessageFor(model => model.ContactPhoneNumber, "", new { @class = "error-danger" })
                </p>
            </div>
        </div>
    }
</main>
