@{
    ViewBag.Title = "Confirm your organisation - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.OrganisationViewModel

<main id="content" role="main">
    @using (Html.BeginForm(Model.SectorType==GenderPayGap.Models.SqlDatabase.SectorTypes.Private ? "Step6" : "Step7"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.SearchText)
        @Html.HiddenFor(m => m.SelectedEmployerIndex)
        @Html.HiddenFor(m => m.SectorType)

        <div class="grid-row">
            <div class="column-full">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 5 of 5</span>
                    Confirm your organisation’s details
                </h1>
                <table class="confirm-details">
                    <thead>
                        <tr>
                            <th class="question">
                            </th>
                            <th class="answer">
                            </th>
                            <th class="other">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Organisation name
                            </td>

                            <td>
                                @(Model.SelectedEmployer.Name)
                            </td>

                            @*<td></td>*@
                        </tr>
                        @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                        {
                            <tr>
                                <td>
                                    Registered number
                                </td>
                                <td>
                                    @(Model.SelectedEmployer.CompanyNumber)
                                </td>
                            </tr>
                        }
                        <tr>
                            @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                            {
                                <td>
                                    Registered address
                                </td>
                            }

                            else if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Public)
                            {
                                <td>
                                    Correspondence address
                                </td>
                            }

                            <td>
                                @(Model.SelectedEmployer.FullAddress)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <fieldset>
                    <br>
                    <p><button type="submit" class="button" value="confirm">Confirm &amp; continue</button></p>

                    <p>
                        @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                        {
                            @Html.ActionLink("Back", "Step5")
                        }
                        else
                        {
                            @Html.ActionLink("Back", "Step6")
                        }
                    </p>
                </fieldset>
            </div>
        </div>
    }
</main>
