@{
    ViewBag.Title = "Registration: Confirm PIN";
}
@model GenderPayGap.WebUI.Models.CompleteViewModel

<main id="content" role="main">
    <div class="grid-row">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="column-full">
                <h1 class="heading-large">
                    Please enter your gender pay gap PIN
                </h1>
                <br>
                <div class="form-group ">
                    @Html.LabelFor(model => model.PIN, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.PIN, null, new { htmlAttributes = new { @placeholder = "PIN Code", @class = "form-control",style= "text-transform: uppercase;" } })
                </div>

                <details>
                    <summary>Problems with your activation pin?</summary>
                    <p>
                        @if (Model.AllowResend)
                        {
                            <a id="forgotten-password" href="@Url.Action("SendPIN")">Get another PIN</a>
                        }
                        else
                        {
                            <p>You may request a new pin in @Model.Remaining.</p>
                        }
                    </p>
                </details>	<br>

                <input type="submit" class="button" name value="Activate &amp; continue" />
            </div>
        }
    </div>
</main>
