@{
    ViewBag.Title = "PIN confirmation - Gender pay gap reporting service";
}

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="grid-row">
        @if (ViewBag.Resend !=null && ViewBag.Resend)
        {
            <div class="column-two-thirds">
                <div class="govuk-box-highlight">
                    <h1 class="bold-medium">We're sending a PIN by post to the following name &amp; address:</h1>
                </div>
                <div id="default-content" class="dynamic-content default-content ltd" style="display: block;">
                    <p>@ViewBag.UserFullName (@ViewBag.UserJobTitle),<br> @Html.Raw(ViewBag.Address)</p>

                </div>
                <div class="bold-small">What happens next.</div>
                <p>Your PIN should arrive within 7 days.</p>
                <p>When you get it, sign in to the&nbsp;<a href="@Url.Action("ConfirmPIN")">Gender pay gap reporting service</a>.&nbsp;Use the PIN to activate the service.</p>

                <div class="panel-indent text dynamic-content default-content ltd plc public charity" style="display: block;">
                    <p>To receive a new PIN click the button below.</p><p>
                    </p>
                    <button type="submit" class="button" name="command" value="Resend">Resend</button>
                </div>
            </div>
        }
        else 
        {
            <div class="column-two-thirds">
                <div class="govuk-box-highlight">
                    <h1 class="bold-medium">We're sending a PIN by post to the following name &amp; address:</h1>
                </div>
                <div id="default-content" class="dynamic-content default-content ltd" style="display: block;">
                    <p>@ViewBag.UserFullName (@ViewBag.UserJobTitle),<br> @Html.Raw(ViewBag.Address)</p>

                </div>
                <div class="bold-small">What happens next.</div>
                <p>Your PIN should arrive within 7 days.</p>
                <p>When you get it, sign in to the&nbsp;<a href="@Url.Action("ConfirmPIN")">Gender pay gap reporting service</a>.&nbsp;Use the PIN to activate the service.</p>
            </div>
        }
    </div>
    }
</main>
