@{
    ViewBag.Title = "Register: Send PIN";
}

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="grid-row">
        @if (ViewBag.Resend !=null && ViewBag.Resend)
        {
            <div class="column-full">
                <div class="govuk-box-highlight">
                    <h1 class="bold-medium">A gender pay gap PIN was previous sent by post to the following name &amp; address:</h1>
                </div>
                <div class="bold-small">What happens next.</div>
                <p>A gender pay gap PIN was previously sent by post to the following name &amp; address:</p>

                <div id="default-content" class="dynamic-content default-content ltd" style="display: block;">
                    <p>@ViewBag.UserFullName (@ViewBag.UserJobTitle),<br> @Html.Raw(ViewBag.Address)</p>

                </div>

                <div class="panel-indent text dynamic-content default-content ltd plc public charity" style="display: block;">
                    <p>To receive a new PIN click the button below.</p><p>
                    </p>
                    <button type="submit" class="button" name="command" value="Resend">Resend</button>
                </div>
            </div>
        }
        else 
        {
            <div class="column-full">
                <div class="govuk-box-highlight">
                    <h1 class="bold-medium">A gender pay gap PIN has been sent by post to the following name &amp; address:</h1>
                </div>
                <div class="bold-small">What happens next.</div>
                <p>A gender pay gap PIN will be sent by post to the following name &amp; address:</p>

                <div id="default-content" class="dynamic-content default-content ltd" style="display: block;">
                    <p>@ViewBag.UserFullName (@ViewBag.UserJobTitle),<br> @Html.Raw(ViewBag.Address)</p>

                </div>

                <div class="panel-indent text dynamic-content default-content ltd plc public charity" style="display: block;">
                    <p>When you get the PIN, sign into the&nbsp; <a href="@Url.Action("ConfirmPIN","Register")">gender pay gap reporting service</a>&nbsp;using your email, password and PIN.</p>
                </div>
                <p>
                    <a href="@Url.Action("LogOut","Home")" class="button">Logout</a>
                </p>
            </div>
        }
    </div>
    }
</main>
