@{
    ViewBag.Title = "Register";
}
@model GenderPayGap.WebUI.Models.OrganisationViewModel

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.EmployerCurrentPage)
        @Html.HiddenFor(m => m.EmployerPages)
        @Html.HiddenFor(m => m.Employers)
        @Html.HiddenFor(m => m.SearchText)
        @Html.HiddenFor(m => m.SelectedEmployerIndex)
        @Html.HiddenFor(m => m.EmployerPageSize)
        @Html.HiddenFor(m => m.EmployerEndIndex)
        @Html.HiddenFor(m => m.EmployerRecords)
        @Html.HiddenFor(m => m.SectorType)

        @Html.HiddenFor(m => m.SearchText)

        @Html.HiddenFor(m => m.Employers[Model.SelectedEmployerIndex].OrgName)

        @Html.HiddenFor(m => m.Employers[Model.SelectedEmployerIndex].FullAddress)
        @Html.HiddenFor(m => m.Employers[Model.SelectedEmployerIndex].Address1)
        @Html.HiddenFor(m => m.Employers[Model.SelectedEmployerIndex].Address2)
        @Html.HiddenFor(m => m.Employers[Model.SelectedEmployerIndex].Address3)
        @Html.HiddenFor(m => m.Employers[Model.SelectedEmployerIndex].PostCode)

        <div class="grid-row">
            <div class="column-full">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 6 of 6</span>
                    Confirm your organisation’s details
                </h1>
                <table class="confirm-details">
                    <thead>
                        <tr>
                            <th class="question">
                            </th>
                            <th class="answer">
                            </th>
                            <th class="other">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Organisation name
                            </td>

                            @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                            {
                                <td>
                                    @(Model.Employers[Model.SelectedEmployerIndex].Name)
                                </td>
                            }

                            @*whatever is being pulled in here from the field*@
                            @*if i am pulling the name from the hidden field name then this if might not be neccesary*@
                            @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Public)
                            {
                                <td>
                                    @(Model.Employers[Model.SelectedEmployerIndex].OrgName)
                                </td>
                            }

                            @*<td></td>*@
                        </tr>
                        <tr>
                            @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                            {
                                <td>
                                    Registered number
                                </td>
                                <td>
                                    @(Model.Employers[Model.SelectedEmployerIndex].CompanyNumber)
                                </td>
                            }

                            @*if <td></td>'s dont take up space & formating of tableData <td>'s then remove this if statement as will not be neccessary*@
                            @*@if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Public)
                            {
                                <td>
                                </td>
                                <td>
                                </td>
                            }*@
                            
                            @*<td></td>*@
                        </tr>
                        <tr>
                            @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                            {
                                <td>
                                    Registered address
                                </td>
                            }

                            @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Public)
                            {
                                <td>
                                   Correspondence address
                                </td>
                            }

                            @*whatever is being pulled in here from the field*@
                            <td>
                                @(Model.Employers[Model.SelectedEmployerIndex].FullAddress)
                            </td>

                            @*<td></td>*@
                        </tr>
                    </tbody>
                </table>
                <fieldset>
                    <br>
                    <p><button type="submit" class="button" value="confirm">Confirm &amp; continue</button></p>

                    <p>
                        @Html.ActionLink("Back", "Step4")
                    </p>
                </fieldset>
            </div>
        </div>
    }
</main>
