@{
    ViewBag.Title = "Your organisation type - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.OrganisationViewModel

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SearchText)

        <div class="grid-row">
            @Html.ValidationSummary("The following errors were detected", new { @class = "error-summary" })


            <div class="column-full">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 3 of 5</span>
                    Your type of organisation
                </h1>
                <p>Please select the type of organisation you’re registering. </p>

                <div class="form-section">
                    <!-- "Chunky" Radio buttons, stacked -->
                    <h2 class="heading-small">Organisation type</h2>
                    <div class="form-group">
                        <fieldset>
                            <label class="block-label selection-button-radio" for="radio-1">
                                @Html.RadioButtonFor(m=>m.SectorType, GenderPayGap.Models.SqlDatabase.SectorTypes.Private, new { @type = "radio", @class = "styled", @name = "radio-group", @id = "radio-1" })
                                Private limited company,<br/>
                                Limited liability partnership,<br />
                                Charity,<br />
                                Public limited company
                            </label>
                            <label class="block-label selection-button-radio " for="radio-2">
                                @Html.RadioButtonFor(m => m.SectorType, GenderPayGap.Models.SqlDatabase.SectorTypes.Public, new { @type = "radio", @class = "styled", @name = "radio-group", @id = "radio-2" })
                                Public sector organisation
                            </label>
                        </fieldset>
                    </div>
                    <br>

                    <input type="submit" class="button" value="Confirm" />
                </div>
            </div>
        </div>
    }
</main>
