@{
    ViewBag.Title = "Choose your organisation - Gender pay gap reporting service";
}

@model GenderPayGap.WebUI.Models.OrganisationViewModel

<main id="content" role="main">
    @using (Html.BeginForm("Step5", "Register"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SectorType)

        <input type="submit" style="display:none" name="command" value="">
        <div class="grid-row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 5 of @(Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private ? 6 : 7)</span>
                    <span>Choose your organisation</span>
                </h1>

                <div class="search-bar">
                    <div class="searchfield">
                        @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "search-input", @placeholder = "Enter an employers name or company no" } })

                        <button type="submit" class="search-submit" name="command" value="search">Search</button>
                    </div>
                </div>
            </div>
            <div class="column-full">

                @if (!string.IsNullOrWhiteSpace(Model.SearchText))
                {
                    if (Model.Employers.Results.Count < 1)
                    {
                        <p>No records found</p>
                    }
                    else
                    {
                        <br>
                        <table class="search search3">
                            <caption class="visuallyhidden">Customer and Business search listing</caption>
                            <thead>
                                <tr>
                                    @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                                    {
                                        <th scope="col">Organisation name and registered address</th>
                                        <th scope="col">Registered number</th>
                                    }
                                    else
                                    {
                                        <th scope="col">Organisation name</th>
                                    }

                                    <th scope="col">&nbsp;</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Employers.Results.Count; i++)
                                {
                                    <tr>
                                        @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                                        {
                                            <td>@Model.Employers.Results[i].Name <span>@Model.Employers.Results[i].FullAddress</span></td>

                                                <td>
                                                    @Model.Employers.Results[i].CompanyNumber
                                                </td>
                                        }

                                        @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Public)
                                        {
                                            <td>@Model.Employers.Results[i].Name</td>
                                        }
                                        <td>
                                            <button type="submit" class="link-button" name="command" value="employer_@i">Choose&nbsp;organisation</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        if (Model.Employers.Results.Count > 1)
                        {
                            <div class="pager">
                                <div class="pager-controls">
                                    @if (Model.Employers.CurrentPage > 1)
                                    {
                                        <button type="submit" class="link-button" name="command" value="pagePrev">Previous</button>
                                    }
                                    <ul class="pager-items">
                                        @for (var i = Model.PagerStartIndex; i <= Model.PagerEndIndex; i++)
                                        {
                                            if (i == Model.Employers.CurrentPage)
                                            {
                                                <li><b>@i</b></li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <button type="submit" class="link-button" name="command" value="page_@i">@i</button>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    @if (Model.Employers.CurrentPage < Model.Employers.PageCount)
                                    {
                                        <button type="submit" class="link-button" name="command" value="pageNext">Next</button>
                                    }
                                </div>
                                <div class="pager-summary">Showing @Model.EmployerStartIndex – @Model.EmployerEndIndex of @Model.Employers.RowCount employers</div>
                            </div>
                        }
                    }
                }
                <br />
                <details role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="true">Can't find your organisation?</summary>
                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                        <a href="organisation-address?dc=privateManual">Add your employer manually</a>

                    </div>
                </details>
                <br>
                <p>
                    @Html.ActionLink("Back", "Step4")
                </p>

            </div>
        </div>
    }
</main>
