@{
    ViewBag.Title = "Register: Step 2";
}
@model GenderPayGap.WebUI.Models.VerifyViewModel
@using Extensions
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                if (Model.Sent)
                {
                    <h1 class="heading-large">
                        <span class="heading-secondary">Step 2 of 6</span>
                        Verify your email address
                    </h1>
                    <p>
                        We have sent you a confirmation email to <b>@Model.EmailAddress</b>
                    </p>
                    <p>Follow the instructions in the email to continue your registration.</p>

                    <p><b>No email yet?</b></p>

                    <p>Our email can take a few minutes to arrive. If you can’t see it in your inbox, check your junk mail folder.</p>
                }
                else if (Model.Retry)
                {
                    <h1 class="heading-large">
                        <span class="heading-secondary">Step 2 of 6</span>
                        Verify your email address
                    </h1>
                    <p>
                        To retry sending your verification email to <b>@Model.EmailAddress</b> click the button below:
                    </p>
                    <input type="submit" class="button" value="Resend" />
                }
                else if (Model.Resend)
                {
                    <h1 class="heading-large">
                        <span class="heading-secondary">Step 2 of 6</span>
                        Verify your email address
                    </h1>
                    if (Model.WrongCode)
                    {
                        <p>@GenderPayGap.WebUI.Classes.CustomErrorMessages.GetDescription(1111)</p>
                    }
                    <p>
                        To send another verification email to <b>@Model.EmailAddress</b> click the button below:
                    </p>
                    <input type="submit" class="button" value="Resend" />
                }
                else if (Model.Verified)
                {
                    <div class="govuk-box-highlight">
                        <h1 class="bold-large">You've confiirmed your email address</h1>
                    </div>

                    <div class="subsection panel-indent">
                        <div class="bold-small">Next step: Tell us about your organisation.</div>
                    </div>
                    <p></p>
                    <a class="button" href="@Url.Action("Step3")" role="button">Continue</a>
                }
                else if (Model.Expired)
                {
                    <h1 class="heading-large">
                        <span class="heading-secondary">Step 2 of 6</span>
                        Verify your email address
                    </h1>
                    <p>
                        To resend another verification email to <b>@Model.EmailAddress</b> click the button below:
                    </p>
                    <input type="submit" class="button" value="Resend" />
                }
            }
        </div>
    </div>
</main>
