@{
    ViewBag.Title = "Search for your organisation - Gender pay gap reporting service";
}

@model GenderPayGap.WebUI.Models.OrganisationViewModel
@using GenderPayGap.WebUI.Classes
@using GenderPayGap.WebUI.Classes

<main id="content" role="main">
    @using (Html.BeginForm("Step4","Register"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SectorType)

        <input type="submit" style="display:none" name="command" value="">
        <div class="grid-row">
            @Html.ValidationSummary("The following errors were detected", new { @class = "error-summary" })
            <div class="column-two-thirds">
                <h1 class="heading-large">

                    @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Private)
                    {
                        <span class="heading-secondary">Step 4 of 6</span>
                    }

                   @if (Model.SectorType == GenderPayGap.Models.SqlDatabase.SectorTypes.Public)
                   {
                        <span class="heading-secondary">Step 4 of 7</span>
                   }
                    <span>Find your organisation</span>
                    @Html.ValidationMessageFor(model => model.SearchText, null, new { @class = "error-danger" })
                </h1>

                <div class="search-bar">
                    <div class="searchfield">
                        @Html.CustomEditorFor(model => model.SearchText, htmlAttributes: new { @class = "search-input", @placeholder = Model.SectorType==GenderPayGap.Models.SqlDatabase.SectorTypes.Public ? "Enter your organisation's name" :"Enter your organisation's name or company no" })

                        <button type="submit" class="search-submit" name="command" value="search">Search</button>
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.SearchText) && Model.Employers.Results.Count < 1)
                {
                    <p>No records found</p>
                }
                <br>
                <p>
                    @Html.ActionLink("Back", "Step3")
                </p>
            </div>
        </div>
    }
</main>
