@{
    ViewBag.Title = "Verify your email address - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.Register.VerifyViewModel

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("The following errors were detected", new { @class = "error-summary" })

                if (Model.Sent)
                {
                    <h1 class="heading-large">
                        Verify your email address
                    </h1>
                    <p>
                        We have sent you a confirmation email to <br /><b>@Model.EmailAddress</b>
                    </p>
                    <p>Follow the instructions in the email to continue your registration.</p>
                    <h2 class="heading-small">No email yet?</h2>
                    <p>Our email can take a few minutes to arrive. If you can’t see it in your inbox, check your junk mail folder.</p>
                }
                else if (Model.Retry)
                {
                    <h1 class="heading-large">
                        Confirm your email address
                    </h1>
                    <p>
                        To retry sending your verification email to <b>@Model.EmailAddress</b> click the button below:
                    </p>
                    <input type="submit" class="button" value="Resend" />
                }
                else if (Model.Resend)
                {
                    <h1 class="heading-large">
                        Confirm your email address
                    </h1>
                    <p>
                        To send another verification email to <b>@Model.EmailAddress</b> click the button below:
                    </p>
                    <input type="submit" class="button" value="Resend" />
                }
            }
        </div>
    </div>
</main>
