@{
    ViewBag.Title = "Registration: Confirm PIN";
}
@model GenderPayGap.WebUI.Models.CompleteViewModel

<main id="content" role="main">
    <div class="grid-row">
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("ERRORS:", new { @class = "text-danger" })
        }

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="column-two-thirds">
                <h1 class="heading-large">
                    Please enter your gender pay gap PIN
                </h1>
                <br>
                <div class="form-group ">
                    @Html.LabelFor(model => model.PIN, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.PIN, "", new { htmlAttributes = new { @placeholder = "PIN Code", @class = "form-control" } })
                </div>

                <details>
                    <summary>Gender pay gap pin: what it is Problems with your gender pay gap pin</summary>
                </details>			<details>
                    <summary>Problems with your activation pin?</summary>
                    <p>
                        Lost your pin? 	
                        @if (Model.AllowResend)
                        {
                            <a id="forgotten-password" href="@Url.Action("SendPIN")">Request a new pin</a>
                        }
                        else
                        {
                            <p>You may request a new pin in @Model.Remaining.</p>
                        }
                    </p>
                </details>	<br>

                <input type="submit" class="button" value="Activate &amp; continue" />
            </div>
        }
    </div>
</main>
