@{
    ViewBag.Title = "Register";
}
@model GenderPayGap.WebUI.Models.OrganisationViewModel

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.EmployerCurrentPage)
        @Html.HiddenFor(m => m.EmployerPages)
        @Html.HiddenFor(m => m.Employers)
        @Html.HiddenFor(m => m.SearchText)
        @Html.HiddenFor(m => m.SelectedEmployerIndex)
        @Html.HiddenFor(m => m.EmployerPageSize)
        @Html.HiddenFor(m => m.EmployerEndIndex)
        @Html.HiddenFor(m => m.EmployerRecords)
        @Html.HiddenFor(m => m.SectorType)

        <div class="grid-row">
            <div class="column-full">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 6 of 6</span>
                    Confirm your organisation’s details
                </h1>
                <table class="confirm-details">
                    <thead>
                        <tr>
                            <th class="question">
                            </th>
                            <th class="answer">
                            </th>
                            <th class="other">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Employer name
                            </td>
                            <td>
                                @(Model.Employers[Model.SelectedEmployerIndex].Name)
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Company number
                            </td>
                            <td>
                                @(Model.Employers[Model.SelectedEmployerIndex].CompanyNumber)
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Registered office address
                            </td>
                            <td>
                                @(Model.Employers[Model.SelectedEmployerIndex].FullAddress)
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <fieldset>
                    <br>
                    <p><input type="submit" class="button" value="Confirm &amp; continue" /></p>

                    <p>
                        @Html.ActionLink("Go back to previous step", "Step5")
                    </p>
                </fieldset>
            </div>
        </div>
    }
</main>
