@model GenderPayGap.WebUI.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Gender pay gap";
}

@using GenderPayGap.WebUI.Classes

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="grid-row">
            <div class="column-full">
                @Html.ValidationSummary("The following errors were detected", new {@class = "error-summary"})

                <h1 class="heading-large">
                    Gender pay gap data
                </h1>
                <div class="tabs">
                    <div class="tabs-nav">
                        <ul class="tabs-list">
                            <li><a href="search-results" class="selected">Find employers</a></li>
                            <li>@Html.ActionLink("Download data", "Download")</li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tabs-panel" id="tab-1">
                            <div class="tabs-panel-inner">
                                <h2 class="heading-medium"></h2>
                                <div class="grid-row">
                                    <div class="column-one-third">
                                        <p class="reducedMargins">Search by:</p>
                                        <div class="search-bar flush2">
                                            <div class="searchfield">
                                                <form id="singular" action="">
                                                    @Html.CustomEditorFor(model => model.SearchText, htmlAttributes: new {@class = "search-input", @placeholder = "Employer name"})
                                                    <button type="submit" class="search-submit" name="command" value="search">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                        <p class="reducedMargins">Filter by:</p>

                                        <div class="filter">
                                            <div class="head">
                                                Sectors
                                            </div>
                                            <div class="checkbox-container">
                                                @Html.CheckBoxListFor(model => model.NewSectors, Model.SectorSources)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column-two-thirds">

                                        @if (Model.Employers.Results.Count < 1)
                                        {
                                            <p>No employers found</p>
                                        }
                                        else
                                        {
                                            <p class="">Showing @Model.EmployerStartIndex – @Model.EmployerEndIndex of @Model.Employers.RowCount employers</p>
                                            <table class="search">
                                                <caption class="visuallyhidden">Customer and Business search listing</caption>
                                                <thead>
                                                <tr>
                                                    <th scope="col">Employer</th>
                                                    <th scope="col">Sector</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @for (var i = 0; i < Model.Employers.Results.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.ActionLink(Model.Employers.Results[i].Name, "EmployerDetails", new {index = i})<br/>
                                                            <span>@Model.Employers.Results[i].FullAddress</span>
                                                        </td>
                                                        <td>
                                                            @Html.Raw(Model.Employers.Results[i].SicSectors)
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>

                                            if (Model.Employers.Results.Count > 1)
                                            {
                                                <div class="pager">
                                                    <div class="pager-controls">
                                                        @if (Model.Employers.CurrentPage > 1)
                                                        {
                                                            <button type="submit" class="link-button" name="command" value="pagePrev">Previous</button>
                                                        }
                                                        <ul class="pager-items">
                                                            @for (var i = Model.PagerStartIndex; i <= Model.PagerEndIndex; i++)
                                                            {
                                                                if (i == Model.Employers.CurrentPage)
                                                                {
                                                                    <li><b>@i</b></li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <button type="submit" class="link-button" name="command" value="page_@i">@i</button>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                        @if (Model.Employers.CurrentPage < Model.Employers.PageCount)
                                                        {
                                                            <button type="submit" class="link-button" name="command" value="pageNext">Next</button>
                                                        }
                                                    </div>
                                                    <div class="pager-summary">Showing @Model.EmployerStartIndex – @Model.EmployerEndIndex of @Model.Employers.RowCount employers</div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</main>
<script type="text/javascript">
    $(document).ready(function() {
        $("[name='NewSectors'").click(SubmitSectors);
    });

    function SubmitSectors(e) {
        $(this).closest('form').submit();
    }
</script>