@model GenderPayGap.Models.GpgEntityModel.Organisation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationPhase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationPhase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatusDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatusDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationAddress.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationAddress.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganisationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
