@*@model GpgDB.Models.GpgDatabase.Return*@
@using GenderPayGap.Models.SqlDatabase
@model GenderPayGap.WebUI.Models.Submit.ReturnViewModel

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ReturnId)
        @Html.HiddenFor(model => model.OrganisationId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.JobTitle)
        @Html.HiddenFor(model => model.LastName)

        @Html.HiddenFor(model => model.ReturnId)
        @Html.HiddenFor(model => model.OrganisationId)
        @Html.HiddenFor(model => model.DiffMeanBonusPercent)
        @Html.HiddenFor(model => model.DiffMeanHourlyPayPercent)
        @Html.HiddenFor(model => model.DiffMedianBonusPercent)
        @Html.HiddenFor(model => model.DiffMedianHourlyPercent)
        @Html.HiddenFor(model => model.FemaleLowerPayBand)
        @Html.HiddenFor(model => model.FemaleMedianBonusPayPercent)
        @Html.HiddenFor(model => model.FemaleMiddlePayBand)
        @Html.HiddenFor(model => model.FemaleUpperPayBand)
        @Html.HiddenFor(model => model.FemaleUpperQuartilePayBand)
        @Html.HiddenFor(model => model.MaleLowerPayBand)
        @Html.HiddenFor(model => model.MaleMedianBonusPayPercent)
        @Html.HiddenFor(model => model.MaleMiddlePayBand)
        @Html.HiddenFor(model => model.MaleUpperPayBand)
        @Html.HiddenFor(model => model.MaleUpperQuartilePayBand)

        @Html.HiddenFor(model => model.CompanyLinkToGPGInfo)
        @Html.HiddenFor(model => Model.AccountingDate)
        @Html.HiddenFor(model => Model.SectorType)

        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-large">
                    <span class="heading-secondary">Step @(Model.SectorType == SectorTypes.Public ? "3 of 3" : "4 of 4")</span>
                    Review to your gender pay gap data
                </h1>

                <table class="gpg-data">
                    <thead>
                        <tr>
                            <th class="question" colspan="3">
                                1. Your organisation’s @(Model.AccountingDate.Year)  to @(Model.AccountingDate.AddYears(1).Year ) gender pay gap data
                                <span class="edit">@Html.ActionLink("Edit", "EnterCalculations", new { returnUrl = "CheckData" })</span>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1. Difference in mean hourly rate of pay - mean
                            </td>
                            <td>
                                @Html.ValueFor(model => model.DiffMeanHourlyPayPercent)%
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                2. Difference in median hourly rate of pay - median
                            </td>
                            <td>
                                @Html.ValueFor(model => model.DiffMedianHourlyPercent)%
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                3. Difference in mean bonus pay - mean
                            </td>
                            <td>
                                @Html.ValueFor(model => model.DiffMeanBonusPercent)%
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                4. Difference in median bonus pay - median
                            </td>
                            <td>
                                @Html.ValueFor(model => model.DiffMedianBonusPercent)%
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                5. Percentage of employees who received bonus pay
                            </td>
                            <td>Male <br>@Html.ValueFor(model => model.MaleMedianBonusPayPercent)%</td>
                            <td>Female <br>@Html.ValueFor(model => model.FemaleMedianBonusPayPercent)%</td>
                        </tr>
                        <tr class="row">
                            <td>
                                6. Employees by pay quartile
                            </td>
                            <td>Male </td>
                            <td>Female</td>
                        </tr>
                        <tr class="row">
                            <td>
                                Upper quartile
                            </td>
                            <td>
                                @Html.ValueFor(model => model.MaleUpperQuartilePayBand)%
                            </td>
                            <td>
                                @Html.ValueFor(model => model.FemaleUpperQuartilePayBand)%
                            </td>
                        </tr>
                        <tr class="row">
                            <td>
                                Upper middle quartile
                            </td>
                            <td>
                                @Html.ValueFor(model => model.MaleUpperPayBand)%
                            </td>
                            <td>
                                @Html.ValueFor(model => model.FemaleUpperPayBand)%
                            </td>
                        </tr>
                        <tr class="row">
                            <td>
                                Lower middle quartile
                            </td>
                            <td>
                                @Html.ValueFor(model => model.MaleMiddlePayBand)%
                            </td>
                            <td>
                                @Html.ValueFor(model => model.FemaleMiddlePayBand)%
                            </td>
                        </tr>
                        <tr class="row">
                            <td>
                                Lower quartile
                            </td>
                            <td>
                                @Html.ValueFor(model => model.MaleLowerPayBand)%
                            </td>
                            <td>
                                @Html.ValueFor(model => model.FemaleLowerPayBand)%
                            </td>
                        </tr>
                    </tbody>
                </table>

                @if (Model.SectorType != SectorTypes.Public)
                {
                    <table class="signedby">
                        <thead>
                        <tr>
                            <th class="question" colspan="3">
                                2. Person responsible in your organisation @*<span class="edit"><a href='edit-approval'>Edit</a></span>*@
                                <span class="edit">@Html.ActionLink("Edit", "PersonResponsible", new {returnUrl = "CheckData"})</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                @Html.ValueFor(model => model.FirstName) &nbsp;
                                @Html.ValueFor(model => model.LastName) <br>
                                @Html.ValueFor(model => model.JobTitle)
                            </td>
                            <td> </td>
                        </tr>

                        </tbody>
                    </table>
                }
                <table class="signedby">
                    <thead>
                        <tr>
                            <th class="question" colspan="3">
                                @(Model.SectorType == SectorTypes.Public ? "2" : "3").Link to your gender pay gap information
                                <span class="edit">@Html.ActionLink("Edit", "EmployerWebsite", new { returnUrl = "CheckData" })</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @if (string.IsNullOrWhiteSpace(Model.CompanyLinkToGPGInfo))
                                {
                                    <span>None</span>
                                }
                                else
                                {
                                    <a href='@Html.ValueFor(model => model.CompanyLinkToGPGInfo)' target="_blank">@Html.ValueFor(model => model.CompanyLinkToGPGInfo)</a>
                                }
                            </td>
                            <td> </td>
                        </tr>

                    </tbody>
                </table>
                <div class="subsection panel-indent">
                    <div class="bold-small">On submission your data will be published on the gender pay gap service.</div>
                </div>
                <br/>
                <p>
                    <input class="button" type="submit" role="button" name="command" value="Confirm and submit" />
                </p>
                <p>
                    @Html.ActionLink("Back", "EmployerWebsite")
                </p>
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}
