@model GenderPayGap.WebUI.Models.Submit.ReturnViewModel

@using GenderPayGap.WebUI.Classes

<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ReturnId)
        @Html.HiddenFor(model => model.OrganisationId)
        @Html.HiddenFor(model => model.DiffMeanBonusPercent)
        @Html.HiddenFor(model => model.DiffMeanHourlyPayPercent)
        @Html.HiddenFor(model => model.DiffMedianBonusPercent)
        @Html.HiddenFor(model => model.DiffMedianHourlyPercent)
        @Html.HiddenFor(model => model.FemaleLowerPayBand)
        @Html.HiddenFor(model => model.FemaleMedianBonusPayPercent)
        @Html.HiddenFor(model => model.FemaleMiddlePayBand)
        @Html.HiddenFor(model => model.FemaleUpperPayBand)
        @Html.HiddenFor(model => model.FemaleUpperQuartilePayBand)
        @Html.HiddenFor(model => model.MaleLowerPayBand)
        @Html.HiddenFor(model => model.MaleMedianBonusPayPercent)
        @Html.HiddenFor(model => model.MaleMiddlePayBand)
        @Html.HiddenFor(model => model.MaleUpperPayBand)
        @Html.HiddenFor(model => model.MaleUpperQuartilePayBand)
        @Html.HiddenFor(model => Model.AccountingDate)
        @Html.HiddenFor(model => Model.SectorType)

        @Html.HiddenFor(model => model.CompanyLinkToGPGInfo)

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 2 of 4</span>
                    Person responsible in your organisation
                </h1>
                <p>
                    Enter the name and job title of the person who is responsible for gender pay gap reporting in your organisation. This will be the person who has signed the information published on your organisation’s website.
                </p>

                <div class="form-horizontal">

                    @*<h4>User</h4>
                        <hr />*@

                    @Html.ValidationSummary("The following errors were detected", new { @class = "error-summary" })

                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "error-danger" })
                            <div class="col-md-10">
                                @Html.CustomEditorFor(model => model.FirstName, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "error-danger" })
                            <div class="col-md-10">
                                @Html.CustomEditorFor(model => model.LastName, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "form-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "error-danger" })
                            <div class="col-md-10">
                                @Html.CustomEditorFor(model => model.JobTitle, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>

                </div>

                <p>
                    <input class="button" type="submit" role="button" name="command" value="Continue" />
                </p>
                <p>
                    @if (Model.ReturnToStep4)
                    {
                        @Html.ActionLink("Cancel", "CheckData")
                    }
                    else
                    {
                        @Html.ActionLink("Back", "EnterCalculations")
                    }
                </p>

            </div>
            <div class="column-third">
                <aside class="govuk-related-items" role="complementary">
                    <h3 class="heading-small" id="subsection-title">Gender pay gap guidance </h3>
                    <nav role="navigation" aria-labelledby="subsection-title">
                        <ul class="font-xsmall">
                            <li><a target="blank" href="https://www.gov.uk/guidance/gender-pay-gap-reporting-what-employers-must-publish">Gender pay gap reporting: what employers must publish  </a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}
