@model GenderPayGap.Models.SqlDatabase.Return

@{ 
     Model.ReturnId = 4;
   
 }

<div>
    <h4>Return</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.ReturnId)
            @Html.DisplayNameFor(model => model.DiffMeanHourlyPayPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiffMeanHourlyPayPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiffMedianHourlyPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiffMedianHourlyPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiffMeanBonusPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiffMeanBonusPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiffMedianBonusPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiffMedianBonusPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleMedianBonusPayPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleMedianBonusPayPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleMedianBonusPayPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleMedianBonusPayPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleLowerPayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleLowerPayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleLowerPayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleLowerPayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleMiddlePayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleMiddlePayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleMiddlePayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleMiddlePayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleUpperPayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleUpperPayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleUpperPayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleUpperPayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleUpperQuartilePayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleUpperQuartilePayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleUpperQuartilePayBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleUpperQuartilePayBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyLinkToGPGInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyLinkToGPGInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStatusDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatusDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReturnId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
