@model GenderPayGap.WebUI.Models.Submit.ReturnViewModel

<style>

.buttonLink {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}

</style>



<main id="content" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ReturnId)
        @Html.HiddenFor(model => model.OrganisationId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.JobTitle)
        @Html.HiddenFor(model => model.LastName)

        @Html.HiddenFor(model => model.ReturnId)
        @Html.HiddenFor(model => model.OrganisationId)
        @Html.HiddenFor(model => model.DiffMeanBonusPercent)
        @Html.HiddenFor(model => model.DiffMeanHourlyPayPercent)
        @Html.HiddenFor(model => model.DiffMedianBonusPercent)
        @Html.HiddenFor(model => model.DiffMedianHourlyPercent)
        @Html.HiddenFor(model => model.FemaleLowerPayBand)
        @Html.HiddenFor(model => model.FemaleMedianBonusPayPercent)
        @Html.HiddenFor(model => model.FemaleMiddlePayBand)
        @Html.HiddenFor(model => model.FemaleUpperPayBand)
        @Html.HiddenFor(model => model.FemaleUpperQuartilePayBand)
        @Html.HiddenFor(model => model.MaleLowerPayBand)
        @Html.HiddenFor(model => model.MaleMedianBonusPayPercent)
        @Html.HiddenFor(model => model.MaleMiddlePayBand)
        @Html.HiddenFor(model => model.MaleUpperPayBand)
        @Html.HiddenFor(model => model.MaleUpperQuartilePayBand)
        @Html.HiddenFor(model => Model.AccountingDate)


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    <span class="heading-secondary">Step 3 of 4</span>
                    Link to your gender pay gap information (optional)
                </h1>


                <div class="form-horizontal">
                    @Html.ValidationSummary("The following errors were detected", new { @class = "error-summary" })

                    <p>Enter the web address (URL) for the gender pay gap information published on your organisation’s website.</p>
                    <fieldset>
                        <div class="form-group">
                            <p>@Html.LabelFor(model => model.CompanyLinkToGPGInfo, "Enter the web address (URL)", htmlAttributes: new { @class = "form-label col-md-2" })</p>
                            @Html.ValidationMessageFor(model => model.CompanyLinkToGPGInfo, "", new { @class = "error-danger" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.CompanyLinkToGPGInfo, 6, 30, new { @class = "form-control" })
                            </div>
                        </div>

                    </fieldset>

                </div>

                <p>
                    <input class="button" type="submit" role="button" name="command" value="Continue" />
                </p>
                <p>
                    @if (Model.ReturnToStep4)
                    {
                        @Html.ActionLink("Cancel", "Step4")
                    }
                    else
                    {
                        @Html.ActionLink("Back", "Step2")
                    }
                </p>
            @*<a href="gpg-overview">Cancel</a>*@
        </div>
            <div class="column-third">
                <aside class="govuk-related-items" role="complementary">
                    <h3 class="heading-small" id="subsection-title">Gender pay gap guidance </h3>
                    <nav role="navigation" aria-labelledby="subsection-title">
                        <ul class="font-xsmall">
                            <li><a target="blank" href="https://www.gov.uk/guidance/gender-pay-gap-reporting-what-employers-must-publish">Gender pay gap reporting: what employers must publish  </a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
    </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}
