@*@model GpgDB.Models.GpgDatabase.Return*@
@model GenderPayGap.WebUI.Models.ReturnViewModel



<main id="content" role="main">
    <h1 class="heading-large">
        <span class="heading-secondary">Step 4 of 4</span>
        Review your gender pay gap data
    </h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ReturnId)
    @Html.HiddenFor(model => model.OrganisationId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.JobTitle)
    @Html.HiddenFor(model => model.LastName)

    @Html.HiddenFor(model => model.ReturnId)
    @Html.HiddenFor(model => model.OrganisationId)
    @Html.HiddenFor(model => model.DiffMeanBonusPercent)
    @Html.HiddenFor(model => model.DiffMeanHourlyPayPercent)
    @Html.HiddenFor(model => model.DiffMedianBonusPercent)
    @Html.HiddenFor(model => model.DiffMedianHourlyPercent)
    @Html.HiddenFor(model => model.FemaleLowerPayBand)
    @Html.HiddenFor(model => model.FemaleMedianBonusPayPercent)
    @Html.HiddenFor(model => model.FemaleMiddlePayBand)
    @Html.HiddenFor(model => model.FemaleUpperPayBand)
    @Html.HiddenFor(model => model.FemaleUpperQuartilePayBand)
    @Html.HiddenFor(model => model.MaleLowerPayBand)
    @Html.HiddenFor(model => model.MaleMedianBonusPayPercent)
    @Html.HiddenFor(model => model.MaleMiddlePayBand)
    @Html.HiddenFor(model => model.MaleUpperPayBand)
    @Html.HiddenFor(model => model.MaleUpperQuartilePayBand)

    @Html.HiddenFor(model => model.CompanyLinkToGPGInfo)
    @Html.HiddenFor(model => Model.AccountingDate)

    <div class="grid-row">
        <div class="column-two-thirds">
            <table class="gpg-data">
                <thead>
                    <tr>
                        <th class="question" colspan="3">
                            1. Your organisation’s @(Model.AccountingDate.AddYears(-1).Year)  to @(Model.AccountingDate.Year ) gender pay gap data <span class="edit">@Html.ActionLink("Edit", "Step1", new { id = Model })</span>
                            @*<span class="edit">@Html.ActionLink("Edit", "Edit", new { id = Model.ReturnId })</span>*@
                             
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. Difference in mean hourly rate of pay between male and female employees
                        </td>
                        <td>
                            @Html.ValueFor(model => model.DiffMeanHourlyPayPercent)%
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2. Difference in median hourly rate of pay between male and female employees
                        </td>
                        <td>
                            @Html.ValueFor(model => model.DiffMedianHourlyPercent)%
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            3. Difference in mean bonus pay between male and female employees
                        </td>
                        <td>
                            @Html.ValueFor(model => model.DiffMeanBonusPercent)%
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            4. Difference in median bonus pay between male and female employees
                        </td>
                        <td>
                            @Html.ValueFor(model => model.DiffMedianBonusPercent)%
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            5. Percentage of male and female employees who received bonus pay
                        </td>
                        <td>Male <br>@Html.ValueFor(model => model.MaleMedianBonusPayPercent)%</td>
                        <td>Female <br>@Html.ValueFor(model => model.FemaleMedianBonusPayPercent)%</td>
                    </tr>
                    <tr class="row">
                        <td>
                            6. Male and female employees by pay quartile
                        </td>
                        <td>Male </td>
                        <td>Female</td>
                    </tr>
                    <tr class="row">
                        <td>
                            Lower quartile
                        </td>
                        <td>
                            @Html.ValueFor(model => model.MaleLowerPayBand)%
                        </td>
                        <td>
                            @Html.ValueFor(model => model.FemaleLowerPayBand)%
                        </td>
                    </tr>
                    <tr class="row">
                        <td>
                            Lower middle quartile
                        </td>
                        <td>
                            @Html.ValueFor(model => model.MaleMiddlePayBand)%
                        </td>
                        <td>
                            @Html.ValueFor(model => model.FemaleMiddlePayBand)%
                        </td>
                    </tr>
                    <tr class="row">
                        <td>
                            Upper middle quartile
                        </td>
                        <td>
                            @Html.ValueFor(model => model.MaleUpperPayBand)%
                        </td>
                        <td>
                            @Html.ValueFor(model => model.FemaleUpperPayBand)%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Top quartile
                        </td>
                        <td>
                            @Html.ValueFor(model => model.MaleUpperQuartilePayBand)%
                        </td>
                        <td>
                            @Html.ValueFor(model => model.FemaleUpperQuartilePayBand)%
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p>7. Link to your gender pay gap information</p>
                            @*<a href='#'>http://home.kpmg.com/gender-pay-gap-report-16-17.html</a>*@
                            @Html.ValueFor(model => model.CompanyLinkToGPGInfo) <span class="edit">@Html.ActionLink("Edit", "Step3", new { id = Model })</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="signedby">
                <thead>
                    <tr>
                        <th class="question" colspan="3">
                            2. Person responsible in your organisation @*<span class="edit"><a href='edit-approval'>Edit</a></span>*@ <span class="edit">@Html.ActionLink("Edit", "Step2", new { id = Model })</span>
                            @*@Html.ActionLink("Edit", "Edit", new { id = Model.ReturnId })*@
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.ValueFor(model => model.FirstName) &nbsp;
                            @Html.ValueFor(model => model.LastName) <br>
                            @Html.ValueFor(model => model.JobTitle)
                    </td>
                        <td> </td>
                    </tr>

                </tbody>
            </table>

            <p>
                @*<input class="button" type="submit" role="button" name="command" value="Continue" />*@
                <input class="button" type="submit" role="button" name="command" value="Confirm and submit" />
            </p>
            @*<p>
                <input class="Link" type="submit" role="button" name="command" value="Back" />
            </p>*@
        </div>
    </div>
}
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}
