@model GenderPayGap.WebUI.Models.ReturnViewModel

@Html.HiddenFor(model => Model.AccountingDate)

<main id="content" role="main">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("ERRORS:", new { @class = "text-danger" })
        }

        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="govuk-box-highlight">
                    <h1 class="bold-large">You have successfully submitted your gender pay gap data for @(Model.AccountingDate.Year)  to @(Model.AccountingDate.AddYears(1).Year )</h1>
                </div>
                <!--       <p>We have sent you a confirmation email.</p>
                 -->
                @*<p>You can view or amend this submission any time before the 5 April @(Model.AccountingDate.Year ) deadline.</p>*@
                @*<p><a href='@Url.Action("SendConfirmed", new { id= Model})'>See your gender pay gap data</a></p>*@
                @*<p>@Html.ActionLink("See your gender pay gap data", "Details", new { id = Model })</p>
                    <p>@Html.ActionLink("Correct an error on your submission", "Step1", new { id = Model })</p>*@

                <p>@Html.ActionLink("See your gender pay gap data", "", "", new { href = "javascript:void(0)" })</p>
                <p>@Html.ActionLink("Correct an error on your submission", "", "", new { href = "javascript:void(0)" })</p>
            </div>

        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}