@using GenderPayGap.WebUI.Classes
@model GenderPayGap.WebUI.Models.Submit.ReturnViewModel

<main id="content" role="main">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.AccountingDate)

        <div class="grid-row">
            <div class="column-two-thirds">
                @Html.CustomValidationSummary()

                <div class="govuk-box-highlight">
                    <h1 class="bold-large">You have successfully submitted your gender pay gap data for @(Model.AccountingDate.Year)  to @(Model.AccountingDate.AddYears(1).Year )</h1>
                </div>
                <p>@Html.ActionLink("See your dender pay gap data", "EmployerDetails", "Viewing")</p>
                <p>@Html.ActionLink("Correct an error on your submission", "CheckData", new { returnUrl = "Complete" })</p>
            </div>

        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}