@model GenderPayGap.WebUI.Models.SearchViewModel


<main id="content" role="main">


    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">
                Gender pay gap
            </h1>
            <div class="tabs">
                <div class="tabs-nav">
                    <ul class="tabs-list">
                        <li><a href="search" class="selected">Search for employers</a></li>
                        <li><a href="sectors">View employers by sector</a></li>
                        <li><a href="download">Download data</a></li>
                    </ul>
                </div>
                <div class="tabs-content">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="tabs-panel" id="tab-1">
                        <div class="tabs-panel-inner text">
                            <h2 class="heading-medium">Search for employers</h2>

                            <form class="search" action="Search" method="post">
                                <div class="search-bar">
                                    <div class="searchfield">
                                        @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "search-input", @placeholder = "Enter an employers name..." } })
                                        @*<input type="search" name="search" class="search-input" placeholder="Enter an employers name...">*@
                                        <button type="submit" class="search-submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <tr>
                                <th>
                                    Employer
                                </th>
                                <th>
                                    Sector
                                </th>
                            </tr>

                            @if (Model != null && Model.Results != null)
                            {
                                foreach (var item in Model.Results)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                //check there is a value before doing a search.
                                                if ( (item != null) && (item.Returns.Select( l => l.CompanyLinkToGPGInfo) != null) )
                                                {
                                                    @Html.ActionLink(item.OrganisationName, "Details", "Submit", new { Id = item.OrganisationId }, null) <br/>
                                                    @Html.DisplayFor(i => item.OrganisationAddresses.FirstOrDefault().Address1)
                                                    <text>&nbsp;</text>
                                                    @Html.DisplayFor(i => item.OrganisationAddresses.FirstOrDefault().PostCode)
                                                }
                                            }
                                        </td>

                                        <td>
                                            @Html.DisplayFor(i => item.OrganisationType)
                                        </td>
                                    </tr>
                                        }
                                    
                                }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}